:root {
  --black-brand-color: #2e2f42;
  --blue-brand-color: #4d5ae5;
  --white-brand-color: #f4f4fd;
  --text-color: #434455;
  --back-color: #ffffff;
  --header-back-color: #e5e5e5;
  --foot-color: #2e2f42;
  --foot-text-color: #e7e9fc;
  --order-but-color: #404bbf;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul , ol {
  margin: 0;
  padding-left: 0;
}
img {
display: block;
}
.container{
  width: 100%;
  max-width: 1470px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  

  
}
.page-body {
  font-family: "Roboto", sans-serif;
  
  background-color: var(--back-color);
  color: var(--text-color);
}

/* Header */
.header-container{
  display: flex;
  align-content: center;
  padding-bottom: 25px;
  padding-top: 25px;
}
.page-header{
  display: flex;
  align-items: center;
  
}
.nav-container{
   display: flex;
   flex-grow:1;
   align-items: center;
   
}
.logo-container{
  margin-right: 77px;
}
.items-container{
  display: flex;
   
}
.info-container{
   display: flex;
    align-items: center;
   
   
}

.header-list {
  display: flex;
  gap: 40px;
  list-style: none;
 
}
.header-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--black-brand-color);
}
.header-item:hover,
.header-item:focus {
  color: var(--order-but-color);
}

.header-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--black-brand-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--order-but-color);
}


.header-list {
  list-style-type: none;
  
}



.header-item:hover {
  color: var(--order-but-color);
}

.logo {

  font-family: "Raleway", sans-serif;
  
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blue-brand-color);

}

.black-logo {
 
  color: var(--black-brand-color);
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.info-list {
  display: flex;
 gap:40px;
 align-items: center;
  list-style-type: none;
  
  
  
}

.info {
   margin-left: auto;
  font-style: normal;
  
}
.inform {

 
  font-size: 16px;

  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--text-color);
}

.inform:hover {
  color: var(--order-but-color);
}
.inform:focus {
  color: var(--order-but-color);
}
.a {
  text-decoration: none;
}
/*MAIN*/
.section{
  padding-top: 123px;
  padding-bottom: 120px;
}
.publicity-sec {
  background-color: var(--black-brand-color);
}
.publicity-container{
  padding: 188px 472px 48px 472px;
  max-width: 496px;

  
}

.publicity-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: var(--back-color);
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  
}
.button-container{
  display: flex;
  align-items: center;
  padding-bottom: 185px;

}
.publicity-button {
 
  background-color: var(--blue-brand-color);
  font-family: "Roboto", sans-serif;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--back-color);
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  
}
.work-button-container{
  display: flex;
  gap:24px;
  justify-content: center;
 
  max-width: 1440px;
  padding-top: 96px;
  padding-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
 
}
.work-button{
  padding: 12px 24px ;
  margin-left: auto;
  margin-right: auto;
 border-radius: 12%;
 border-color: var(--foot-text-color);
}
.work-container{
display: flex;
justify-content:center;
flex-wrap: wrap;
gap: 24px;
margin-left: auto;
margin-right: auto;
align-items: center;
}

.publicity-button:hover,
.publicity-button:focus {
  background-color: var(--order-but-color);
  cursor: pointer;
}

.header-list {
  list-style-type: none;
}
.link-container{
  max-width: 360px;
  /* padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px; */
  /* border: solid 1px var(--foot-text-color); */
}
.text-container{
  border: solid 1px var(--foot-text-color);
  border-top: none;
}
.example-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--black-brand-color);

}
.example-type {
 
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.info-list {
  list-style-type: none;
}

.example-list {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  gap:24px;
  list-style-type: none;

}
.work-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--black-brand-color);
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.caption-sec {
  background-color: var(--back-color);
}
.caption {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--black-brand-color);
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;

  margin-bottom: 72px;
}
.team-caption{
  padding-top: 120px;
}
.caption-list {
  display: flex;
  gap: 24px;
  list-style-type: none;
  justify-content: space-between;
  /* margin-top: 105px;
  margin-bottom: 120px; */
}
.example-list{
  margin-top: 72px;
  padding-bottom: 120px;
  justify-content: space-between;
}
.example-item {
  background-color: var(--back-color);
}
.text-container{
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}

/* work-type */
.work-sec {
  background-color: var(--back-color);
  /* padding-top: 123px;
  padding-bottom: 120px; */
}

.work-list {
  list-style-type: none;
}
.team {
  background-color: var(--white-brand-color);
}
.work-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--blue-brand-color);
  background-color: var(--white-brand-color);
  cursor: pointer;
}
.work-button:hover,
.work-button:focus {
  color: var(--back-color);
  background-color: var(--order-but-color);
}


.examples-list {
  list-style-type: none;
}

.example {
  width: 360px;
  height: 420px;
  background: var(--back-color);
}

.photo-type {
  width: 360px;
  height: 300px;
}
.resume-container{
 
  text-align: center;
}
.resume-text-container{
  padding: 34px 17px;
}


/*footer*/
.foot {
  background-color: var(--foot-color);
}
.foot-container{
  width: 100%;
  max-width: 264px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.foot-logo {
  font-family: "Raleway", sans-serif;
  
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blue-brand-color);
  text-decoration: none;
}

.white-logo {
  font-family: "Raleway", sans-serif;
 
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-brand-color);
  text-decoration: none;
}

.location {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  color: var(--foot-text-color);
}
