:root {
  --black-brand-color: #2e2f42;
  --blue-brand-color: #4d5ae5;
  --white-brand-color: #f4f4fd;
  --text-color: #434455;
  --back-color: #ffffff;
  --header-back-color: #e5e5e5;
  --foot-color: #2e2f42;
  --foot-text-color: #e7e9fc;
  --order-but-color: #404bbf;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
.container {
  width: 100%;
  max-width: 1470px;
  width: 1158px; 
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.page-body {
  font-family: "Roboto", sans-serif;

  background-color: var(--back-color);
  color: var(--text-color);
}

/* Header */
.header-container {
  padding: 0 15px;
  width: 1158px;
  display: flex;
  align-content: center;
  padding-bottom: 25px;
  padding-top: 25px;
}
.page-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--foot-text-color)
}
.nav-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.logo-container {
  margin-right: 76px;
}
.items-container {
  display: flex;
}
.info-container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 40px;
  list-style: none;
}
.header-item {
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--black-brand-color);
}
.header-item:hover,
.header-item:focus {
  color: var(--order-but-color);
}

.header-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--black-brand-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--order-but-color);
}

.header-list {
  list-style-type: none;
}

.header-item:hover {
  color: var(--order-but-color);
}

.logo {
  font-family: "Raleway", sans-serif;

  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blue-brand-color);
}

.black-logo {
  color: var(--black-brand-color);
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.info-list {
  display: flex;
  gap: 40px;
  align-items: center;
  list-style-type: none;
}

.info {
  margin-left: auto;
  font-style: normal;
}
.inform {
  font-size: 16px;

  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--text-color);
}

.inform:hover {
  color: var(--order-but-color);
}
.inform:focus {
  color: var(--order-but-color);
}
.a {
  text-decoration: none;
}
/*MAIN*/
.section {
  padding-top: 123px;
  padding-bottom: 120px;
}
.publicity-sec {
  background-color: var(--black-brand-color);
  padding: 188px 0;
}
.publicity-container {
  /* padding: 188px 472px 48px 472px; */
  /* max-width: 496px; */
  max-width: 1128px;
  padding: 65px 330px 0 330px;
  
}

.publicity-text {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: var(--back-color);
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}
.button-container {
  display: flex;
  align-items: center;
  padding-bottom: 185px;
  
}
.publicity-button {
  display: block;
  min-width: 169px ;
  height: 56px ;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
  background-color: var(--blue-brand-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--back-color);
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
}
.work{
  padding-top: 96px; 
  padding-bottom: 120px; 
}
.work-sec{
  padding: 120px 0;

}
.work-hidden-text{
   visibility: hidden;
}
.work-button-container {
  display: flex;
  gap: 24px;
  justify-content: center;

  max-width: 1440px;
  padding-top: 96px;
  padding-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}
.work-button {
  padding: 12px 24px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12%;
  border-color: var(--foot-text-color);
}
.work-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.publicity-button:hover,
.publicity-button:focus {
  background-color: var(--order-but-color);
  cursor: pointer;
}

.header-list {
  list-style-type: none;
}
.link-container {
  /* max-width: 360px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px; 
   border: solid 1px var(--foot-text-color); */
}
.portfolio-section{
  padding-top: 120px;
  padding-bottom: 120px;
}
.text-container {
  padding: 32px 16px;
  border: 1px solid  var(--foot-text-color);
  border-top: none;
}
.example-name {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--black-brand-color);
}
.example-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.info-list {
  list-style-type: none;
}

.example-list {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  gap: 24px;
  list-style-type: none;
}
.work-sec-item{
  width: calc((100% - 3 * 24px) / 4);
}
.work-text {
  display: block;
  visibility: hidden;
  
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--black-brand-color);
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.caption-sec {
  background-color: var(--back-color);
  padding: 120px 0
}
.caption {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--black-brand-color);
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;

  margin-bottom: 72px;
}
.caption-image{
  width: calc((100% - 3 * 16px) / 3);

}
.team-caption {
  padding-top: 120px;
  
}
.caption-list {
  display: flex;
  gap: 24px;
  list-style-type: none;
  justify-content: space-between;
  /* margin-top: 105px;
  margin-bottom: 120px; */
}
.example-list {
  margin-top: 72px;
  padding-bottom: 120px;
  justify-content: space-between;
 
}
.example-item {
  background-color: var(--back-color);
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px; 
}
.text-container {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}

/* work-type */
.work-sec {
  background-color: var(--back-color);
  /* padding-top: 123px;
  padding-bottom: 120px; */
}

.work-list {
  display: flex;
  justify-content: center;
  gap: 24px; 
  margin-bottom: 72px;

  list-style-type: none;
}
.team {
  background-color: var(--white-brand-color);
  padding: 120px 0;
}
.work-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--blue-brand-color);
  background-color: var(--white-brand-color);
  cursor: pointer;
  padding: 12px 24px ;
  border: 1px solid var(--foot-text-color);
  border-radius: 4px;
}
.work-button:hover,
.work-button:focus {
  border: 1px solid transparent ;
  color: var(--back-color);
  background-color: var(--order-but-color);
}

.examples-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
   row-gap: 48px; 
  list-style-type: none;
}
.example-item{
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.example-name{
  
  text-align: center;
  margin-bottom: 8px;
}
.example-type{
  text-align: center; 
}
.example {
  width: calc((100% - 48px) / 3);
 
  height: 420px;
  background: var(--back-color);
}
.link-container{
  padding: 32px 16px;
  border: 1px solid var(--foot-text-color);
  border-top: none; 
}

.photo-type {
  width: 264px;
  height: 260px;
}
.resume-container {
  text-align: center;
  padding: 32px 0;
}
.resume-text-container {
  padding: 32px 0 ;
}
.portfolio-section{
  
}
.portfolio-container{
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
}
.portfolio-list{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  
}
.list-item{
  width: calc((100% - 48px) / 3);
}
.list-photo{
  width: 360px;
  height: 300px;
}
/*footer*/
.foot {
  padding: 100px 0 ;
  background-color: var(--foot-color);
}
.foot-container {
  width: 100%;
  max-width: 264px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.foot-logo {
  display: inline-block;
  
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;

  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--blue-brand-color);
  text-decoration: none;
}

.white-logo {
  font-family: "Raleway", sans-serif;

  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-brand-color);
  text-decoration: none;
}

.location {
  max-width: 264px ;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  color: var(--foot-text-color);
}
